In [3]:
rahul=[10,1,23,18,2]
print(rahul)

[10, 1, 23, 18, 2]

In [4]:
rahul=[7,2,23,10,18]
rahul.append("raj")
print(rahul)
rahul.insert(1,36)
print(rahul)

[7, 2, 23, 10, 18, 'raj']
[7, 36, 2, 23, 10, 18, 'raj']

In [5]:
rahul=[7,2,23,10,18]
rahul.remove(23)
print(rahul)
rahul.pop(1)
print(rahul)

[7, 2, 10, 18]
[7, 10, 18]

In [7]:
rahul=[7,2,23,10,18]
rahul.sort()
print(rahul)
rahul.reverse()
(rahul)

[2, 7, 10, 18, 23]

[23, 18, 10, 7, 2]

In [8]:
rahul=[7,2,23,10,18]
rahul.reverse()
print(rahul)

[18, 10, 23, 2, 7]

In [13]:
def find_largest_smallest(my_list):
    largest = max(my_list)
    smallest = min(my_list)
    return largest, smallest

numbers = [10, 20, 30, 40, 50]
largest, smallest = find_largest_smallest(numbers)

print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 50
Smallest number: 10

In [18]:
tuple=(10,20,30)
x,y,z= tuple
print("x:",x)
print("y:",y)
print("z:",z)

x: 10
y: 20
z: 30

In [19]:
my_list = [1, 2, 3, 4, 5]
result = sum_of_elements(my_list)
print(result)

15

In [21]:
def merge_and_remove_duplicates_ordered(list1, list2):
    merged_list = list1 + list2
    unique_list = []
    for item in merged_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

In [24]:
my_dict = {
    "name": "rahul",
    "age": 18,
    "city": "mysore"
}
print("Dictionary:", my_dict)

Dictionary: {'name': 'rahul', 'age': 18, 'city': 'mysore'}

In [25]:
numbers = [50, 10, 30, 20, 40]

ascending_order = sorted(numbers)

descending_order = sorted(numbers, reverse=True)

print("Sorted in ascending order:", ascending_order)
print("Sorted in descending order:", descending_order)

Sorted in ascending order: [10, 20, 30, 40, 50]
Sorted in descending order: [50, 40, 30, 20, 10]

In [27]:
my_tuple = (10, 20, 30, 40, 50)
print("Element at index 0:", my_tuple[0])
print("Element at index 1:", my_tuple[1])
print("Element at index 2:", my_tuple[2])
print("Element at index 3:", my_tuple[3])
print("Element at index 4:", my_tuple[4])

Element at index 0: 10
Element at index 1: 20
Element at index 2: 30
Element at index 3: 40
Element at index 4: 50

In [28]:
my_dict = {
    "name": "rahul.p",
    "age": 18,
    "city": "karnataka",
    "country": "INDIA"
}
def print_keys_values(dictionary):
    for key, value in dictionary.items():
        print(f"Key: {key}, Value: {value}")
print_keys_values(my_dict)

Key: name, Value: rahul.p
Key: age, Value: 18
Key: city, Value: karnataka
Key: country, Value: INDIA